@{

}
<div class="banner">
    <div class="container">
        <h3>PCParts, <span>Best Prices</span></h3>
    </div>
</div>
<div class="new-products" style="padding: 3em 0;">
    <div class="container">

        <h3>New Products</h3>

        <div class="agileinfo_new_products_grids" style="margin: 1em 0 0;">
            @using PCPartsV2.Models
            @foreach (var item in ViewBag.RecentProducts as IEnumerable<Products>)
            {
                <div class="col-md-3 agileinfo_new_products_grid">
                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                        <div>
                            <img src="~/ProductsPhotos/@item.Image" alt=" " class="img-responsive" />
                        </div>
                        <h5>@Html.ActionLink(item.Name, "Details", "Products", new { id = item.ProductID }, null)</h5>
                        <div class="simpleCart_shelfItem">
                            @{
                                //Depending on if the product has a discount or not it will change the layout
                                if (@item.Discount == 0)
                                {
                                    <p><i class="item_price">@Math.Round(@item.Price, 2)€</i></p>
                                }
                                else
                                {
                                    double discount = (double)@item.Discount;
                                    double percentage = discount / 100;
                                    double discountedPrice = @item.Price - (@item.Price * percentage);
                                    <p><span>@Math.Round(@item.Price, 2)€</span> <i class="item_price">@Math.Round(@discountedPrice, 2)€</i></p>
                                }
                            }
                            @if (Request.IsAuthenticated)
                            {
                                <form action="#" method="post">
                                    <a href="@Url.Action("AddToCart", "Cart", new { ProductID = item.ProductID, RedirectTo = "home/index" })" class="w3ls-cart">
                                        Add To Cart
                                    </a>
                                </form>
                            }
                        </div>
                    </div>
                </div>
                                }
            <div class="clearfix"> </div>

        </div>

    </div>
</div>
<div class="new-products" style="padding: 2em 0;">
    <div class="container">
        <h3>Discounts</h3>

        <div class="agileinfo_new_products_grids" style="margin: 1em 0 0;">
            @using PCPartsV2.Models
            @foreach (var item in ViewBag.DiscountedProducts as IEnumerable<Products>)
            {
                <div class="col-md-3 agileinfo_new_products_grid">
                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                        <div>
                            <img src="~/ProductsPhotos/@item.Image" alt=" " class="img-responsive" />
                        </div>
                        <h5>@Html.ActionLink(item.Name, "Details", "Products", new { id = item.ProductID }, null)</h5>
                        <div class="simpleCart_shelfItem">
                            @{
                                //Depending on if the product has a discount or not it will change the layout
                                if (@item.Discount == 0)
                                {
                                    <p><i class="item_price">@Math.Round(@item.Price, 2)€</i></p>
                                }
                                else
                                {
                                    double discount = (double)@item.Discount;
                                    double percentage = discount / 100;
                                    double discountedPrice = @item.Price - ( @item.Price * percentage);
                                    <p><span>@Math.Round(@item.Price, 2)€</span> <i class="item_price">@Math.Round(@discountedPrice, 2)€</i></p>
                                }
                            }
                            <form action="#" method="post">
                                <a href="@Url.Action("AddToCart", "Cart", new { ProductID = item.ProductID, RedirectTo = "home/index" })" class="w3ls-cart">
                                    Add To Cart
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
                                }
            <div class="clearfix"> </div>

        </div>

    </div>
</div>
