@model IEnumerable<PCPartsV2.Models.Products>

<div class="w3ls_mobiles_grid_right_grid3">
    <h1 class="text-center" style="padding-bottom:20px">@Html.DisplayFor(modelItem => modelItem.FirstOrDefault().ProductType.Type)</h1>
    @foreach (var item in Model)
            {
        <div class="col-md-3 agileinfo_new_products_grid">
            <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                <div>
                    <img src="~/ProductsPhotos/@item.Image" alt=" " class="img-responsive" />
                </div>
                <h5>@Html.ActionLink(item.Name, "Details", "Products", new { id = item.ProductID }, null)</h5>
                <div class="simpleCart_shelfItem">
                    @{
                        if (@item.Discount == 0)
                        {
                            <p><i class="item_price">@Math.Round(@item.Price, 2)€</i></p>
                        }
                        else
                        {
                            double discount = (double)@item.Discount;
                            double percentage = discount / 100;
                            double discountedPrice = @item.Price - (@item.Price * percentage);
                            <p><span>@Math.Round(@item.Price, 2)€</span> <i class="item_price">@Math.Round(@discountedPrice, 2)€</i></p>
                        }
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <form action="#" method="post">
                            <a class="w3ls-cart" href="@Url.Action("AddToCart", "Cart", new { ProductID = item.ProductID, RedirectTo = "products/type/"+@item.ProductType.ProductTypeID })">
                                Add To Cart
                            </a>
                        </form>
                    }
                </div>
            </div>
        </div>
                        }

    <div class="clearfix"> </div>
</div>
