@model IEnumerable<PCPartsV2.Controllers.CartController.ProductsQuantity>

@{
    ViewBag.Title = "Products";
}

<h2>My Cart</h2>

<table class="table col-md-9">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Image)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Quantity)
        </th>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Product.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id = item.Product.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Product.ProductID })
        </td>
    </tr>

}
</table>
<div class="text-right">
    @{
        double Price = 0;
        foreach (var item in Model)
        {
            Price = Price + item.Product.Price * item.Quantity;

        }

    }
    Total price: @Price
    <a href="~/Orders/Create" class="w3ls-cart">
        Checkout
    </a>
</div>

